[submodule "vara-feature"]
	path = vara-feature
	url = git@github.com:se-sic/vara-feature.git
[submodule "eval/brotli_eval/repo"]
	path = eval/brotli_eval/repo
	url = https://github.com/google/brotli.git
[submodule "eval/7zip_eval/repo"]
	path = eval/7zip_eval/repo
	url = https://github.com/ip7z/7zip.git
[submodule "eval/FastDownward_eval/repo"]
	path = eval/FastDownward_eval/repo
	url = https://github.com/aibasel/downward.git
[submodule "eval/libzmq_eval/repo"]
	path = eval/libzmq_eval/repo
	url = https://github.com/zeromq/libzmq.git
[submodule "eval/libvpx_eval/repo"]
	path = eval/libvpx_eval/repo
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "eval/bzip2_eval/repo"]
	path = eval/bzip2_eval/repo
	url = https://github.com/libarchive/bzip2.git
[submodule "eval/cryptominisat_eval/repo"]
	path = eval/cryptominisat_eval/repo
	url = https://github.com/msoos/cryptominisat.git
[submodule "eval/dune_eval/repo"]
	path = eval/dune_eval/repo
	url = https://github.com/se-sic/dune-VaRA
[submodule "eval/lrzip_eval/repo"]
	path = eval/lrzip_eval/repo
	url = https://github.com/ckolivas/lrzip
[submodule "eval/xz_eval/repo"]
	path = eval/xz_eval/repo
	url = https://github.com/tukaani-project/xz
[submodule "eval/x264_eval/repo"]
	path = eval/x264_eval/repo
	url = https://code.videolan.org/videolan/x264
